<p class="pageHeader">Edit Visitor</p>

<form action="/visitors/$visitor.getId()" method="post">
    <label for="Name">name:</label>
    <input class="inputbox" type="text" name="name" required="true" value="$visitor.getName()" id="Name">

    <input type="submit" value="Save" class="button">
</form>
<a href="/visitors/$visitor.getId()" class="button center">Cancel</a>