body{
  font-size: 20px;
  color: red;
}

html{
  background-color: blue;
  color: red;
  padding: 30px;
  margin: 0px;
  background-image: url("/images/dino7.jpg");
  background-image: repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color: #2E1CD0;
  text-align:center;
  text-shadow: 2.5px 2.5px black;
  font-size: 150px;
  color: red;
 }

.main_button{
    background-color: green;
        border: none;
        color: white;
        padding: 32px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
        border-radius: 50%;
        width: 200px;
        padding: 45px;

    }

.main_button:hover {
                background-color: red;
                color: white;
            }

table {
border-collapse: collapse;
    width:100%;
    color:white;
    background-color: #2a249c96;
    font-size: 25px;

    }

table, th, td {
   border: 1px solid black;
}

tr:hover {background-color: black;}

.details_button{
font-color: #fffffff;
}


.pageHeader{
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }

.button{
    background-color: #ff00008f;
    font-size: 14px;
    padding: 4px 18px;
    border-radius: 4px;
    color: white;
     }


