
<form action="/parks" method="post">
    <label for="name">Name:</label>
    <input type="text" class="inputBox" name="name" required="true" id="name">

    <label for="wallet">Cost:</label>
    <input type="number" class="inputBox" name="wallet" required="true" id="wallet">

    <label for="age">Age:</label>
    <input type="number" class="inputBox" name="age" required="true" id="age">

    <input type="submit" value="Save" class="button">
</form>