<!DOCTYPE html>
<html>
<head>
    <title>Dino World</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <a href="/home">Home</a>

</head>
<body>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>