<!DOCTYPE html>
<html>
<head>
    <title>Dino World</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />

    <a href="/home" class = "main_button">Home</a>

    <a href="/visitors" class="main_button">All visitors</a>

    <a href="/paddocks" class="main_button">Paddocks</a>

    <a href="/dinosaurs" class="main_button">Dinosaurs</a>

    <a href="/parks" class="main_button">Park</a>




</head>
<body>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>