<h1>Dino World</h1>

    <a href="/visitors" class="button center">All visitors</a>

    <a href="/paddocks" class="button center">paddocks</a>

    <a href="/dinosaurs" class="button center">dinosaurs</a>

    <a href="/parks" class="button center">parks</a>

