<div>
    <p> Visitor: $visitor.getName() $visitor.getWallet() $visitor.getAge() $visitor.getHeight()</p>
    <p> Park: $park.getName()</p>
    #if ($visitor)
    <p> Visitor: $visitor.getName() $visitor.getWallet() $visitor.getAge() $visitor.getHeight()</p>
    #end


</div>


