<p class="pageHeader">All Paddocks</p>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
        </tr>

        #foreach($visitor in $visitors)
        <tr>
            <td>$paddock.getName()</td>
            <td>$paddock.getCapacity()</td>
        </tr>
        #end
    </table>



</div>

