<p class="pageHeader">Edit Dinosaur</p>

<form action="/dinosaurs/$dinosaur.getId()" method="post">
    <label for="Name">name:</label>
    <input class="inputBox" type="text" name="name" required="true" value="$dinosaur.getName()" id="Name">

    <input type="submit" value="Save" class="button">
</form>
<a href="/dinosaurs/$dinosaur.getId()" class="button center">Cancel</a>