<p class="pageHeader">All Paddocks</p>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
        </tr>

        #foreach($paddock in $paddocks)
        <tr>
            <td>$paddock.getName()</td>
            <td>$paddock.getCapacity()</td>
            <td><a href="/paddock/$paddock.getId()" class="button center">Details</a></td>
        </tr>
        #end
    </table>



</div>

